<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<ha:HwpApplicationSetting xmlns:ha="http://www.hancom.co.kr/hwpml/2011/app" xmlns:config="urn:oasis:names:tc:opendocument:xmlns:config:1.0">
<ha:ConfigItemSet>
<config:config-item config:name="ColorPicker" config:type="int">0</config:config-item>
<config:config-item config:name="FontSize" config:type="int">9</config:config-item>
<config:config-item config:name="LineUnit" config:type="int">86</config:config-item>
<config:config-item config:name="PrintDevice" config:type="int">0</config:config-item>
<config:config-item config:name="ShowGuideLine" config:type="int">1</config:config-item>
<config:config-item config:name="ShowRuler" config:type="int">1</config:config-item>
<config:config-item config:name="ShowPaper" config:type="int">1</config:config-item>
<config:config-item config:name="ShowMenuBar" config:type="int">1</config:config-item>
<config:config-item config:name="ShowToolBar" config:type="int">127</config:config-item>
<config:config-item config:name="ShowStatusBar" config:type="int">1</config:config-item>
<config:config-item config:name="ShowScrollBar" config:type="int">1</config:config-item>
<config:config-item config:name="HideTabBar" config:type="int">0</config:config-item>
<config:config-item config:name="GridDisplay" config:type="int">2</config:config-item>
<config:config-item config:name="GridPropertyLine" config:type="int">0</config:config-item>
<config:config-item config:name="GridPropertyRuler" config:type="int">1</config:config-item>
<config:config-item config:name="GridInfoHorSpacing" config:type="int">850</config:config-item>
<config:config-item config:name="GridInfoVerSpacing" config:type="int">850</config:config-item>
<config:config-item config:name="GridInfoHorSecCnt" config:type="int">10</config:config-item>
<config:config-item config:name="GridInfoVerSecCnt" config:type="int">10</config:config-item>
<config:config-item config:name="GridViewLine" config:type="int">2</config:config-item>
<config:config-item config:name="ViewKind" config:type="int">0</config:config-item>
<config:config-item config:name="ViewMode" config:type="int">1</config:config-item>
<config:config-item config:name="UserInfo" config:type="int">0</config:config-item>
<config:config-item config:name="NullLayoutModeEnable" config:type="int">0</config:config-item>
<config:config-item config:name="LineNumberDisplay" config:type="int">0</config:config-item>
<config:config-item config:name="ResearchPanelAutoStart" config:type="int">0</config:config-item>
<config:config-item config:name="ResearchPanelShowState" config:type="int">0</config:config-item>
<config:config-item config:name="CaretPosition" config:type="long">0</config:config-item>
<config:config-item config:name="HtmlExportMethod" config:type="int">1</config:config-item>
<config:config-item config:name="SecurityLevel" config:type="int">2</config:config-item>
<config:config-item config:name="InitToolBar" config:type="boolean">false</config:config-item>
<config:config-item config:name="InitMenuBar" config:type="boolean">false</config:config-item>
<config:config-item config:name="DirtyFlag" config:type="boolean">false</config:config-item>
<config:config-item config:name="ZoomType" config:type="int">2</config:config-item>
<config:config-item config:name="ZoomLevel" config:type="int">163</config:config-item>
<config:config-item config:name="ReadOnlyOpen" config:type="boolean">false</config:config-item>
<config:config-item config:name="FieldCode" config:type="boolean">false</config:config-item>
<config:config-item config:name="Memo" config:type="boolean">false</config:config-item>
<config:config-item config:name="PresentMode" config:type="boolean">false</config:config-item>
<config:config-item config:name="BorderView" config:type="boolean">true</config:config-item>
<config:config-item config:name="VRuler" config:type="boolean">true</config:config-item>
<config:config-item config:name="HRuler" config:type="boolean">true</config:config-item>
<config:config-item config:name="SymMark" config:type="boolean">false</config:config-item>
<config:config-item config:name="HighlightCheck" config:type="boolean">false</config:config-item>
<config:config-item config:name="TypeHangulEngNumChar" config:type="boolean">true</config:config-item>
<config:config-item config:name="PgMargin" config:type="boolean">false</config:config-item>
<config:config-item config:name="Hide" config:type="boolean">false</config:config-item>
<config:config-item config:name="ShowFrame" config:type="boolean">false</config:config-item>
<config:config-item config:name="PgNumDisp" config:type="boolean">true</config:config-item>
<config:config-item config:name="ShowGrid" config:type="boolean">false</config:config-item>
<config:config-item config:name="Wnd0Left" config:type="int">0</config:config-item>
<config:config-item config:name="Wnd0Top" config:type="int">0</config:config-item>
<config:config-item config:name="Wnd0Right" config:type="int">1</config:config-item>
<config:config-item config:name="Wnd0Bottom" config:type="int">1</config:config-item>
<config:config-item config:name="WndNormal" config:type="boolean">true</config:config-item>
</ha:ConfigItemSet>
</ha:HwpApplicationSetting>